.subscribe-btn {
    background-color: rgb(200, 0, 0);
    height: 35px;
    width: 100px;
    border: none;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
}

.subscribe-btn:hover {
    opacity: 0.5;
}

.subscribe-btn:active {
    opacity: 0.2;
}

.join-btn {
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 2px;
    border-width: 1px;
    color: rgb(72, 72, 231);
    border-color: rgb(72, 72, 231);
    height: 35px;
    width: 60px;
    margin-right: 8px;
    transition: background-color 0.25s, color 0.25s;
}

.join-btn:hover {
    color: #ffffff;
    background-color: rgb(72, 72, 231);

}

.join-btn:active {
    opacity: 0.5    ;
}


.tweet-btn {
    height: 35px;
    width: 70px;
    border-radius: 20px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    background-color: rgb(103, 103, 226);
    cursor: pointer;
    transition: box-shadow 0.25s;
}

.amazon-add-btn {
    height: 28px;
    border-radius: 18px;
    border: none;
    width: 100px;
    background-color: rgb(184, 184, 9);
    font-weight: bold;
}

.amazon-buy-btn {
    height: 28px;
    border-radius: 18px;
    width: 100px;
    margin: auto 8px;
    border: none;
    background-color: rgb(131, 131, 6);
    font-weight: bold;
}

.tweet-btn:hover {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.13)
}

.apply-btn {
    font: 16px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border: none;
    height: 36px;
    border-radius: 18px;
    background-color: rgb(56, 56, 238);
    width: 220px;
    transition: opacity 0.15s;
    cursor: pointer;
}

.apply-btn:hover {
    background-color: rgba(0,0,0,0.77)
}