.functionalities {
    left: 0;
    position: absolute;
    text-align: center;
    background-color: #f1f1f1;
    width: 100%;
}

.table-options {
    margin-top: 30px;
    width: 50%;
    text-align: center;
}

.btns-footer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    margin-bottom: 1%;
}