<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anki</title>
    <link href="/static/css/style.css" rel="stylesheet"/>
</head>
<body>
    <nav class="header-options">
        Usuario 1 - Anki<br>
        <button id="btn1">Arquivo</button>
        <button id="btn2">Editar</button>
        <button id="btn3">Exibir</button>
        <button id="btn4">Ferramentas</button>
        <button id="btn5">Ajuda</button>
    </nav>
    <header class="functionalities">
        Baralhos
        Adicionar
        Painel
        Estatísticas
        Sincronizar
    </header>

    <table>
        <thead>
            <tr>
                <th colspan="16">
                Baralho
            </th>
            <th colspan="5">
                Novos
            </th>
            <th>
                Aprender
            </th>
            <th>
                Revisar
            </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>sentenças</td>
            </tr>
        </tbody>
    </table>

    <footer>
        <div class="btns-footer">
            <button>
                Obter compartilhados
            </button>
            <button>
                Criar Baralho
            </button>
            <button>
                Importar arquivo
            </button>   
        </div>
    </footer>

    
</body>
</html>