<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/static/css/style.css" rel="stylesheet"/>
</head>
<body>
    <header class="header-options">
        Usuario 1 - Anki<br>
        <button id="btn1">Arquivo</button>
        <button id="btn2">Editar</button>
        <button id="btn3">Exibir</button>
        <button id="btn4">Ferramentas</button>
        <button id="btn5">Ajuda</button>
    </header>
    <header class="functionalities">
        Baralhos
        Adicionar
        Painel
        Estatísticas
        Sincronizar
    </header>

    <table>
        <thead>
            <tr>
                <th colspan="16">
                Baralho
            </th>
            <th colspan="5">
                Novos
            </th>
            <th>
                Aprender
            </th>
            <th>
                Revisar
            </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>sentenças</td>
            </tr>
        </tbody>
    </table>

    <footer>
        <button>
            Opções
        </button>
        <button>
            Estudo Personalizado
        </button>
        <button>
            Descrição
        </button>
    </footer>

    
</body>
</html>