<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube clone</title>
    <link href="../static/css/youtube_style.css" rel="stylesheet">
</head>
<body>

    <input class="text-box" type="text" placeholder="Search">

    <div class="container">
        <div>
            <a target="_blank" href="">
            <img class="thumbnail" src="../imgs/thumbnails/1.webp", alt="thumbnail">
            </a>
        </div>
        <div class="ytb-channel-img">
            <a target="_self" href="">
                <img class="icon" src="../imgs/icons/icon1.jpg" alt="ytb-channel-img">
            </a>
        </div>

        <div class="ytb-info">
            <p>Interview with a Postdoc, Junior Python Developer</p>
            <p>Programmers are also human</p>
            <p>10 months ago &#183; 404,086 views</p>
        </div>
    </div>

    <div class="container">
        <div>
            <a target="_self" href="">
            <img class="thumbnail1" src="../imgs/thumbnails/2.webp" alt="thumbnail1">
            </a>
        </div>
        <div class="ytb-channel-img1">
            <a target="_self" href="">
                <img class="icon1" src="../imgs/icons/icon2.jpg" alt="channel-icon1">
            </a>
        </div>
        <div class="ytb-info1">
            <p>How the Grizzlies Became the NBA's Most Hated Team</p>
            <p>A.M. Hoops</p>
            <p>18 hours ago &#183; 112,147 views</p>
        </div>
    </div>
    
    <div class="container">
         
        <div>
            <a target="_self" href="">
                <img class="thumbnail2" src="../imgs/thumbnails/3.webp" alt="thumbanil2">
            </a>
        </div>
        <div class="ytb-channel-img2">
            <a target="_self" href="">
                <img class="icon2" src="../imgs/icons/icon3.jpg" alt="channel-icon2">
            </a>
        </div>
        <div class="ytb-info2">
            <p>peace.</p>
            <p>Conspersa Prometheum</p>
            <p>10 months ago &#183; 6,034,476 views</p>
        </div>
    </div>

    <div class="container">

        <div>
            <a target="_self" href="">
                <img class="thumbnail3" src="../imgs/thumbnails/4.webp" alt="thumbnail3">
            </a>
        </div>

        <div class="ytb-channel-img3">
            <a target="_self" href="">
                <img class="icon3" src="../imgs/icons/icon4.jpg" alt="ytb-channel-img3">
            </a>

        </div>

        <div class="ytb-info3">
            <p>Some Rough Advice for the "Real World"</p>
            <p>vlogbrothers</p>
            <p>5 years ago &#183; 1,163,834 views</p>
        </div>
    </div>
    
    <div class="container">
        <div>
            <a target="_self" href="">
                <img class="thumbnail4" src="../imgs/thumbnails/5.webp" alt="thumbanail4">
            </a>
        </div>
        <div class="ytb-channel-img4">
            <a target="_self" href="">
                <img class="icon4" src="../imgs/icons/icon5.jpg" alt="ytb-channel-img4">
            </a>
        </div>
        <div class="ytb-info4">
            <p>Let's talk about Tech Layoffs | tech news</p>
            <p>Joma Tech</p>
            <p>12 days ago &#183; 958,404 views </p>
        </div>
    </div>
    <div class="container">

        <div>
            <a target="_self" href="">
                <img class="thumbnail5" src="../imgs/thumbnails/6.webp" alt="thumbnail5">
            </a>
        </div>
        <div class="ytb-channel-img5">    
            <a target="_self" href="">
                <img class="icon5" src="../imgs/icons/icon6.jpg" alt="ytb-channel-img5">
            </a>
        </div>
        <div class="ytb-info5">
            <p>pov: you're studying and listening to music while it's raining [dark academia playlist]</p>
            <p>Enigmatic </p>
            <p>3 months &#183; 99,555 views </p>
        </div>
    </div>
</body>
</html>